<div class="users_width">

  <h2 class="title is-1">Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>


    <div class="field">
      <%= f.label :email %><br />
      <div class="control has-icons-left has-icons-right">
       <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input", placeholder:"Email input"  %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :alias %> <i>(leave blank if you don't want to change it)</i><br />
      <div class="control has-icons-left">
        <%= f.text_field :alias, autocomplete: "alias" , class:"input", placeholder:"alias"  %>
      </div>
    </div>

    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
      <div class="control has-icons-left">
        <%= f.password_field :password, autocomplete: "new-password" , class:"input", placeholder:"new-password"  %>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        <% if resource.errors[:password].present? %>
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        <% end %>
      </div>
      <% if resource.errors[:password].present? %>
        <ul>
          <% resource.errors[:password].each do |msg| %>
            <li class="help is-danger"><%= msg%></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <div class="control has-icons-left">
        <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"input", placeholder:"Confirm Password"  %>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        <% if resource.errors[:password_confirmation].present? %>
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        <% end %>
      </div>
      <% if resource.errors[:password_confirmation].present? %>
        <ul>
          <% resource.errors[:password_confirmation].each do |msg| %>
            <li class="help is-danger"><%= msg%></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" , class:"input", placeholder:"current-password"  %>
    </div>

  <div class="field is-grouped">
      <div class="control">
      <%= f.submit "Update",class:"button is-link" %>
      </div>
    </div>
  <% end %>


  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"button is-danger" %></p>

</div>
