<div id="shoppingCart" class="cart-width">

  <%= form_for(:create_addresses , method: "post", url:addresses_create_path(:create_addresses))  do |f| %>

    <div class="field">
      <%= f.label :street_no, class:"label" %><br />
      <div class="control has-icons-left has-icons-right">
        <%= f.text_field :street_no, required: true, autofocus: true, autocomplete: "text", class:"input is-danger", placeholder:"Stree no and name" %>
      </div>
    </div>

    <div class="field">
      <%= f.label :apt_no,class:"label" %><br />
      <div class="control has-icons-left has-icons-right">
        <%= f.text_field :apt_no, required: true, autofocus: true, autocomplete: "text", class:"input is-danger", placeholder:"apt no" %>
      </div>
    </div>

    <div class="field">
      <%= f.label :postal_code,class:"label" %><br />
      <div class="control has-icons-left has-icons-right">
        <%= f.text_field :postal_code, required: true, autofocus: true, autocomplete: "text", class:"input is-danger", placeholder:"apt no" %>
      </div>
    </div>

    <div class="field">
      <%= f.label :city,class:"label" %><br />
      <div class="control has-icons-left has-icons-right">
        <%= f.text_field :city, required: true, autofocus: true, autocomplete: "text", class:"input is-danger", placeholder:"apt no" %>
      </div>
    </div>

    <div class="field">
      <%= f.label :provinces,class:"label" %><br />
      <div class="control has-icons-left has-icons-right">
          <%= f.collection_select  :province_id, Province.all, :id, :name, include_blank: true ,required: true%>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <%= f.submit "Add Address",class:"button is-link" %>
      </div>
    </div>
  <% end %>
</div>