<div class="column ">
  <div class="card card_box_shadow flex_card padding_around width_height_card is-marginless ">
    <% if product.images.present? %>
      <div class="card-image size">
        <figure class="image is-4by3">
          <% product.images.each do |image| %>
            <%= image_tag image , alt: "image_car" %>
          <% end %>
        </figure>
      </div>
    <%else %>
      <div class="card-image size">
        <figure class="image is-4by3">
          <%= image_tag 'vector-automovil-automotriz_20448-127.jpg', alt: "image_car" %>
        </figure>
      </div>
    <% end %>
    <div class= "flex_card_column">
        <div class="card-content">
          <p class="title is-1">
            <%= link_to product.category.name, category_path(product.category) %>
          </p>

            <div class="title is-3">
              Model: <%=h truncate(product.model, :length => 15)%>
            </div>
          <% if show_link %>
            <div class="margin_top">
              <%= link_to product_path(product), class:"button is-primary"  do%>
                Details
              <% end  %>
            </div>
          <% end %>

          <%if show_page %>
            <div class="card-content">
              <div class="margin_around is-size-5 " >
                Color: <%= product.color %>
              </div>
              <div class="margin_around is-size-5 ">
                Transmission: <%= product.transmission %>
              </div>
              <%if product.car_option.present?%>
                <div class="margin_around is-size-5">
                  Car option: <%= product.car_option %>
                </div>
              <% end %>
              <div class="margin_around is-size-5">
                  Car_ description: <%= product.car_description %>
              </div>
            </div>
          <% end %>
        </div>
        <footer class="card-footer ">
          <p class="on_sale_and_price is-marginless title is-4">
            Price: $<%= product.price.round(2) %>
          </p>
          <%if product.state.name == "On Sale"%>
            <p class="on_sale_and_price has-background-danger is-size-5">
              - <%= (product.sale_percentage * 100).round(0) %>%
            </p>
          <% end %>
        </footer>
        <div class="buttons margin_top margin_bottom">
          <% if product_cart_page %>
            <% if @cart.include?(product) %>
              <%if category_page %>
                <label for="quantity">Quantity (between 1 and 5):</label>
                <div class='flex_quantity_remove'>
                <%= link_to "+", update_quantity_path(:id => product.id, :type => "plus"), method: "post",  class: "button is-light"%>
                <% session[:cart].each do |item|  %>
                  <% if product.id == item['id'].to_i %>
                    <%= item['quantity_passed'] %>
                  <% end  %>
                <%  end %>
                <%= link_to "-", update_quantity_path(:id => product.id, :type => "minus"), method: "post",  class: "button is-light"%>
                  <%= button_to remove_from_cart_url(product.id),method: :delete, class: "button is-danger"  do%>
                    <p>Remove</p>
                  <% end  %>
                </div>
              <% else %>
                <p>The product is included</p>
              <% end %>
            <% else %>
              <p><%= link_to 'add to cart', add_to_cart_path(:id => product.id, :type => 'new'), method: "post",  class: "button is-primary"  %></p>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>
</div>