<!DOCTYPE html>
<html>
  <head>
    <title>ECommerceProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <%# <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> %>
    <%= javascript_include_tag 'jsFile' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
  <div class = "margin_around_body">
    <nav class="navbar has-background-grey-lighter border_radius" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <div>
            <%= image_tag "header-background.jpg", class:"nav-image" %>
        </div>
        <div class=" is-size-3 navbar-item  title-size">
            GK AUTOMOBILE
        </div>
        <%= link_to products_path, class: "navbar-item is-size-4 is-hoverable" do%>
          <div>
            Product
          </div>
        <% end %>
        <div class="navbar-item bar_between">|</div>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link is-size-4 ">
            Categories
          </div>
          <div class="navbar-dropdown">
            <% Category.all.each do |category| %>
              <div class="navbar-item">
                <%= link_to category.name, category_path(category) %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="navbar-item bar_between">|</div>
        <%= link_to permalink_path('about_us'), class: "navbar-item is-size-4 is-hoverable" do%>
          <div>
            About
          </div>
        <% end %>
        <p class="navbar-item bar_between">|</p>
        <%= link_to permalink_path('contact'), class: "navbar-item is-size-4 is-hoverable" do%>
          <div>
            Contact
          </div>
        <% end %>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <% if current_user %>
              <%= link_to 'sign_out', destroy_user_session_path, method: :delete, class:"button is-primary" %>
              <%= link_to 'addresses', addresses_new_path, class:"button is-light" %>
            <% else %>
              <%= link_to 'sign up', new_user_registration_path, class:"button is-primary" %>
              <%= link_to 'Log in', new_user_session_path, class:"button is-light", :onclick => 'myFunction' %>
            <% end %>
              <%= link_to session_cart_path(), class: "button is-light"  do%>
                <%=image_tag "shopping-cart.png" %>
              <% end  %>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="z_index_two">
    <div class="navbar-start">
      <%= link_to states_name_path('New'), class: "navbar-item is-size-4 is-hoverable" do%>
        <div>
          New
        </div>
      <% end %>
      <div class="navbar-item bar_between">|</div>
      <%= link_to states_name_path('On Sale'), class: "navbar-item is-size-4 is-hoverable" do%>
        <div>
          On Sale
        </div>
      <% end %>
      <div class="navbar-item bar_between">|</div>
      <%= link_to states_name_path('recently updated'), class: "navbar-item is-size-4 is-hoverable" do%>
        <div>
          Recently updated
        </div>
      <% end %>
    </div>
    <%= yield %>
  </div>

  </div>
  </body>
</html>